extends layout

block content
  h1= title

  p Collecting data on Bus No #{busId} for the stop #{stationName}

  table
      thead
        tr
          th Timestamp
          th Estimated Arrival Time
          th Time to Live

      tbody
        - var i = 0;
        while i < expectedArrivalTimes.length
          tr
            td= timeStamps[i]
            td= expectedArrivalTimes[i]
            td= timeToLives[i]
            - i++
